# Database Configuration
# Chạy uvicorn trên máy thật thì dùng localhost:5433
# Chạy app trong Docker thì dùng db:5432
DATABASE_URL=postgresql://admin:secret@localhost:5433/smartpost_db

# Redis Configuration
REDIS_URL=redis://localhost:6379/0

# Security
SECRET_KEY=smartpost_super_secret_key_2026
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# App Settings
APP_NAME=SmartPost_Logistics_MVP